@charset "UTF-8";

@main-dark-back: #13181c;
@main-dark: #222222;
@main-white: #e8e8e6;

@font-face
{
    font-family: "didact-gothic";
    src: url("/assets/fonts/DidactGothic-Regular.ttf");
}

body
{
    background-color: @main-dark-back;
    color: @main-white;
    font-family: "didact-gothic";
}