@charset "UTF-8";
@import "../fonts/fonts.less";

@main-dark-back: #13181c;
@main-dark: #222222;
@main-white: #e8e8e6;

body
{
    background-color: @main-dark-back;
    color: @main-white;
    font-family: "gothic-a1";
}

a
{
    color: @main-white;
    text-decoration: none;
}