.album-toasts
{
    // change later to reposition
    display: flex;
    padding: 8px 12px 8px 12px;

    & > div
    {
        display: flex;
        flex: 1;
    }

    .icon-zone
    {
        flex: 0;

        .home-icon
        {
            display: inline-block;
            width: 50px;
            height: 50px;
        }
    }

    .toast-zone
    {
        .single-toast
        {
            display: flex;
            font-weight: bold;
            padding: 0 6px 0 6px;
            opacity: .6;
            cursor: pointer;
            align-items: center;

            &.active
            {
                opacity: .9;
                cursor: default;
            }

            &:hover
            {
                opacity: .9;
            }
        }

        .toast-divider
        {
            display: flex;
            opacity: .5;
            font-weight: 100;
            align-items: center;
        }
    }
}