.album-toasts
{
    // change later to reposition
    padding: 8px 0 26px 12px;

    .single-toast
    {
        font-weight: bold;
        padding: 0 6px 0 6px;
        opacity: .6;
        cursor: pointer;

        &.active
        {
            opacity: .9;
            cursor: default;
        }

        &:hover
        {
            opacity: .9;
        }
    }

    .toast-divider
    {
        opacity: .5;
        font-weight: 100;
    }

    .home-icon
    {
        display: inline-block;
        width: 50px;
        height: 30px;
    }
}